body{
    background: var(--bs-primary-bg-subtle);
}   


.card{
    display: flex;
    height: 150px;
    width: 210px;
    margin: 10px auto;
    border-radius: 20px;
    border: none;
    background: var(--bs-primary);
    
    
}


.bank{
    margin: auto;
    font-size: 1.5rem;
    color: white;
}

.chip{
    height: 17px;
    width: 25px;
    margin-left: 20px;
    border-radius: 3px;
    background: #8e9eab;  
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  
    background: linear-gradient(to right, #eef2f3, #8e9eab);

}

.card-number{
    font-size: 1rem;
    color: white;
    margin-bottom: 0;
   
}

.card-date{
    font-size: .7rem;
    color: white;
    margin: 0 30px;
}

.card-name{
    font-size: .9rem;
    color: white;
    margin: 0;   
}

.card-amount{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}



@media (min-width: 600px){
    .card{
        height: 300px;
        width: 420px;
        }

    .bank{
        font-size: 3rem;
        margin: 0 auto;
        }
    
    .chip{
        height: 34px;
        width: 50px;
        margin: 20px;
        }
    
    .card-number{
        font-size: 2rem;
        }
  
    .card-date{
        font-size: 1rem;
        }
  
    .card-name{
        font-size: 1.8rem;
    }
    
    }

    

.miBoton{
   margin-top: 10px;
}

.center{
    display: flex;
    justify-content: justify;
}